<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Groove Grid</title>
        <link rel="stylesheet" href="../static/css/styles.css">
    </head>
    <body>
        <h1>Welcome to Groove Grid</h1>
        <nav>
            <a href="users.html">User Menu</a>
            <a href="albums.html">Album Menu</a>
            <a href="tracks.html">Track Menu</a>
        </nav>
    </body>
</html>